<?xml version="1.0"?>
<!-- File: app/code/Pulsestorm/AclExample/etc/acl.xml -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="TecSecret_CodeBase::TecSecret" title="tecSecret" sortOrder="12">
                    <resource id="TecSecret_CodeBase::title" title="Information &amp; Communication" sortOrder="50">
                        <!--resource id="TecSecret_CodeBase::extensions" title="More Extensions" sortOrder="50"/!-->
                        <resource id="TecSecret_CodeBase::support" title="Support" sortOrder="100"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>